:root{
    --black: #171321;
    --darkPurple: #45214A;
    --purple: #323050;
    --navy: #21445B;
    --woodland: #1A6566;
    --moss: #5D8A66;
    --white: #f7f8fa;
    --font-size: 1.3rem;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--darkPurple);
    color: var(--white);
    font-size: var(--font-size);
}
h1,h2,h3{
    margin: 0;
}

#intro{
    padding-bottom: 10rem;
}

#intro p{
    font-size: 1rem;
    line-height: 1.5;
}